@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
table{border-collapse:collapse;border-spacing:0}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	background: #FDFDFD;
	overflow-x: hidden;
	font-weight: 500;
	color: #333;
}


.logo > img {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: #333;
}

.hello {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  position: relative;

  margin-left: 10px;
  font-family: 'Jua', sans-serif;
	font-size: 30px;
	font-weight: 800;
}

.hello a {
  transition: 0.4s ease-out color;
  text-decoration:none;
  color: #555;
}
.hello a:hover {
  color: #111;
}

.purple {
  color: #9d59eb;
}

.green {
	color: #0ff1b3;
}

.row {
	  -webkit-box-align: flex-start;
	      -ms-flex-align: flex-start;
	          align-items: flex-start;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: flex-start;
	      -ms-flex-pack: flex-start;
	          justify-content: flex-start;
	  flex-flow: row wrap;
	  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
}
  .row_item_50 {
    width: 50%;
    padding: 2em;
    z-index: 10;
    text-align: justify-all;
  }

main, header {
	width: 60%;
	height: auto;
	margin: auto;
}

footer {
  margin-top : 3rem;
}

@media only screen and (max-width: 1200px) {
main, header {
      width: 968px;
      padding: 2em 0;
    }
    .row_item_50 {
    	width: 80%;
    	margin: auto;
    	text-align: left;
    }
  }
@media only screen and (max-width: 1024px) {
main, header {
      width: 727px;
    padding: 0 0;
    }
    h1 {
    	line-height: 1.5;
    }
    .hello {
    	font-size: 25px;
    }
  }
@media only screen and (max-width: 768px) {
main, header {
    width: 90%;
    padding: 0 0;
  }
  .row_item_50 {
  	width: 100%;
  	padding: 0;
  }
}
.hero_intro {
	position: absolute;
	left: 0;
	bottom: 4em;
}
.hero_bg {
	background: #fff;
	height: 10%;
  min-height:8rem;
  max-height: 95vh;
  min-width:300px;
	width: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.hero_img {
	width: 70%;
	height: 100vh;
	position: absolute;
	right: 0;
	bottom: -6em;
}

@media only screen and (max-width: 1024px) {
	.hero_img {
		width: 70%;
		top: 20%;
	}
	.hero_intro {
		bottom: 2rem;
	}
}

@media only screen and (max-width: 768px) {
	.hero_img {
		width: 80%;
		top: 10%;
	}
	.hero_intro {
		bottom: 1rem;
	}
}

.side_scroll {
	position: fixed;
	right: 7%;
	bottom: 4rem;
	z-index: 99;
}
	.side_scroll svg {
		width: 80px;
		height: 80px;
		stroke: #444;
		cursor: pointer;
		margin: 10px 0;
	}
	#scroll_down, #scroll_up {
		transition: all 0.5s ease-in-out;
	}
	#scroll_up {
		display: none;
	}
	#scroll_down.fade_out_in {
	  display: none;
	}
	#scroll_up.fade_in_out {
		display: block;
	}
@media only screen and (max-width: 768px) {
	.side_scroll {
		right: 0rem;
	}
}

header {
  position: relative;
  min-height: 7rem;
  max-height: 95vh;
  min-width:300px;
  overflow: hidden;
}

#navigation {
  position: relative;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
	  -webkit-box-align: stretch;
	      -ms-flex-align: stretch;
	          align-items: stretch;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: space-between;
	      -ms-flex-pack: space-between;
	          justify-content: space-between;
	  flex-flow: row wrap;
	  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background: transparent;
  padding: 0;
  height: 7rem;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  #navigation .list-menu {
    flex-basis: auto;
    -ms-flex-basis: auto;
    height: 100%;
  }
  #navigation .menu-item {
	  -webkit-box-align: stretch;
	      -ms-flex-align: stretch;
	          align-items: stretch;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: flex-start;
	      -ms-flex-pack: flex-start;
	          justify-content: flex-start;
	  flex-flow: row wrap;
	  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
    height: 100%;
  }
  #navigation .menu-item a {
    flex-basis: auto;
    flex-grow: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.nav__column {
	  -webkit-box-align: stretch;
	      -ms-flex-align: stretch;
	          align-items: stretch;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: flex-start;
	      -ms-flex-pack: flex-start;
	          justify-content: flex-start;
	  flex-flow: row wrap;
	  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-basis: auto;
  height: 100%;
}
.nav__column > * {
  flex-basis: auto;
}

.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-menu:hover a {
  color: rgba(0, 0, 0, 0.4);
}
.list-menu:hover a:hover {
  color: #0ff1b3;
}



@media only screen and (min-width: 768px) {
  .list-menu {
	  -webkit-box-align: stretch;
	      -ms-flex-align: stretch;
	          align-items: stretch;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: flex-start;
	      -ms-flex-pack: flex-start;
	          justify-content: flex-start;
	  flex-flow: row wrap;
	  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  }
}

.menu-item {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.menu-item a {
  transition: 0.4s ease-out color;
  color: #444;
  font-size: 16px;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 1.2px;
  font-weight: bold;
  line-height: 1.6;
  font-family: 'Questrial', sans-serif;
}
@media only screen and (max-width: 767px) {
  .menu-item + .menu-item {
    margin-top: 0.875rem;
  }
}
@media only screen and (min-width: 768px) {
  .menu-item {
    flex-basis: auto;
  }
  .menu-item:last-child a {
    padding-right: 0;
  }
  .menu-item a {
    padding: 0 1.5rem;
  }
}

.logo {
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	  flex-flow: row wrap;
	  -ms-flex-flow: row wrap;
  position: relative;
  z-index: 99;
  width: 30px;
  outline: none;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .menu-overlay {
    display: none;
  }
  .menu-open .menu-overlay {
    display: block;
  }
  #navigation {
  	height: 6rem;
  	padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    background: #f4f4f4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	  flex-flow: row wrap;
	  -ms-flex-flow: row wrap;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.32s opacity ease-out 0s, visibility 0s 0.32s;
  }
  .menu-container .list-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-container .list-menu li {
    margin: 1rem 0;
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    transition: 0.32s ease-out opacity 0s, 0.32s ease-out transform 0s;
  }
  .menu-container .list-menu li a {
    font-size: 2rem;
    color: #444;
  }
  .menu-open .menu-container {
    opacity: 1;
    visibility: visible;
    transition: 0.32s opacity ease-out 0s, visibility 0s 0s;
  }
  .menu-open .menu-container .list-menu li {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu-open .menu-container .list-menu li:nth-child(1) {
    transition-delay: 0.32s;
  }
  .menu-open .menu-container .list-menu li:nth-child(2) {
    transition-delay: 0.38s;
  }
  .menu-open .menu-container .list-menu li:nth-child(3) {
    transition-delay: 0.44s;
  }
  .menu-open .menu-container .list-menu li:nth-child(4) {
    transition-delay: 0.5s;
  }
  .menu-open .menu-container .list-menu li:nth-child(5) {
    transition-delay: 0.56s;
  }
  .menu-open .menu-container .list-menu li:nth-child(6) {
    transition-delay: 0.62s;
  }
}

@media only screen and (max-width: 767px) {
  .toggle-menu {
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 0 0.5rem 0.5rem;
    color: #111;
    font-size: 1rem;
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	  flex-flow: row wrap;
	  -ms-flex-flow: row wrap;
    letter-spacing: 1px;
    position: relative;
    z-index: 1001;
    background-color: transparent;
  }
}
@media only screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

.hamburger-holder {
  position: relative;
  width: 1.5rem;
  height: 2rem;
  margin-left: 0.75rem;
}

.hamburger {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  width: 1.5rem;
  height: 3px;
  margin-top: 3px;
  background: #fff;
  transition: all 0.16s ease-out 0s;
  left: 0;
  top: 12px;
  /* these are the upper and lower lines in the menu icon */
}
.hamburger::before, .hamburger:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  right: 0;
  transition: all 0.16s ease-out 0s;
}
.hamburger::before {
  top: -8px;
}
.hamburger::after {
  top: 8px;
}
.menu-open .hamburger, .menu-open:hover .hamburger {
  background-color: transparent;
  transition: all 0.24s ease-out 0.06s;
}
.menu-open .hamburger::before, .menu-open:hover .hamburger::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.menu-open .hamburger::after, .menu-open:hover .hamburger::after {
  top: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.menu-open .hamburger::before, .menu-open .hamburger::after, .menu-open:hover .hamburger::before, .menu-open:hover .hamburger::after {
  background-color: #FF2D55;
  transition: all 0.34s ease-out 0.06s;
}


@media only screen and (max-width: 768px) {
	.hero_intro {
		padding: 2em 0;
	}
}