@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

.banner .title {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.banner .author {
  color: grey;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.banner .author img {
  margin-left: 1rem;
  border-radius: 20px;
  max-width: 32px;
}

.sub-title {
  padding-bottom: 3rem;
}

.sub-title blockquote {
  padding: 0 1em;
  min-height: 24px;
  color: #6a737d;
  border-left: .25em solid #8888ff;
}

.sub-title blockquote p {
  line-height: 24px;
  min-height: 24px;
}

@media only screen and (max-width: 768px) {
    .banner .title {
      font-size: 1.5rem;
    }
}

/* layout/base.css */

.editor {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  box-shadow: -10px 2px 6px 10px rgba(0, 0, 0, 0.4);
}

.CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

.CodeMirror-scroll {
  padding: 30px;
  box-sizing: border-box;
}

.CodeMirror pre {
  line-height: 16px;
}

.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom: -0.25em;
  vertical-align: top;
}