@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

.banner .title {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.banner .author {
  color: grey;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.banner .author img {
  margin-left: 1rem;
  border-radius: 20px;
  max-width: 32px;
}

@media only screen and (max-width: 768px) {
    .banner .title {
      font-size: 1.5rem;
    }
}

/* layout/base.css */

.js-preview {
  overflow-y: hidden;
}

.js-preview html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.js-preview body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
}


/* modules/code.css */

.pre {
  height: 100vh;
}

/* modules/embed.css */

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

/* modules/form.css */

textarea {
  background: none;
  border: 0;
  height: 100vh;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

/* vendor/codemirror.css */

.CodeMirror {
  height: 100vh;
}

.CodeMirror-readonly .CodeMirror-cursor {
  display: none;
}
